{% extends 'registration/base.html' %}
{% block title %}
  <title>login</title>
{% endblock %}
{% block body %}
<body background="../../static/img/back.jpg">
  <div class="sikaku"></div>
  <div class="marusikaku"></div>
  <div class="login-logo">
    <img src="./static/img/Loginlogo.png">
  </div>
  <div id="login-box">
    <h1 class="h1">Login</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form class="registration-form" method="post">
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Password" name="password" />
      <button class="login-button">LOG IN</button>
      <a class="switch-register-mode" href="{{ url_for('signup') }}">
        Not registered yet?
      </a>
    </form>
  </div>
</body>
{% endblock %}