<div class="reaction-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5>リアクション</h5>
      </div>
      <div class="reaction-all">
      {% for reaction in reactions %}
        <form name="form{{ message.id }}{{ reaction.id }}" action="/reaction/{{ reaction.id }}" method="POST">
            <input type="hidden" name="channel_id" value="{{ channel.id }}" />
            <input class="reaction-messageid-confirm" type="hidden" name="message_id" value="{{ message.id }}" />
            <a href="javascript:form{{ message.id }}{{ reaction.id }}.submit()">
                <img class="reaction-img" src="{{ url_for('static',filename=reaction.icon_path) }}" />
            </a>
        </form>
      {% endfor %}
      </div>
      <button class="reaction-page-close-btn">キャンセル</button>
    </div>
</div>
