<!-- ホーム画面でのチャンネルフォロー -->

<div id="follow-channel-modal-i" class="modal">
    <div class="modal-content-i">
      <div class="modal-header-i">
        <h5>チャンネルをフォローしますか？</h5>
        <span class="modalClose" id="follow-page-close-btn-i">×</span>
      </div>
      <div class="modal-body-i">
        <p>フォローボタンを押すとチャンネルがフォローされ、マイページに表示されます</p>
        <a id="follow-confirm-link-i">
          <button id="follow-channel-confirmation-btn-i">フォロー</button>
        </a>
      </div>
    </div>
</div>
