<!-- マイページでのチャンネルフォロー解除 -->

<div class="unfollow-channel-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5>チャンネルフォローを解除しますか？</h5>
      </div>
      <div class="modal-body">
        <p>フォロー解除ボタンを押すと、チャンネルのフォローが解除され、マイページに表示されなくなります</p>
        <button class="unfollow-channel-close-btn">キャンセル</button>
        <a href="/unfollow_channel/{{follow_channel.id}}" id="unfollow-channel-confirm-link">
          <button id="unfollow-channel-confirmation-btn">フォロー解除</button>
        </a>
      </div>
    </div>
</div>