<!-- ホーム画面でのチャンネルフォロー解除 -->

<div id="unfollow-channel-modal-i", class="modal">
    <div class="modal-content-i">
      <div class="modal-header-i">
        <h5>チャンネルフォローを解除しますか？</h5>
        <span id="unfollow-page-close-btn-i">×</span>
      </div>
      <div class="modal-body-i">
        <p>フォロー解除ボタンを押すと、チャンネルのフォローが解除され、マイページに表示されなくなります</p>
        <a id="unfollow-confirm-link-i">
          <button id="unfollow-confirmation-btn-i">フォロー解除</button>
        </a>
      </div>
    </div>
</div>