<div id="unfollow-channel-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5>チャンネルフォローを解除しますか？</h5>
        <span class="modalClose" id="unfollow-channel-close-btn">×</span>
      </div>
      <div class="modal-body">
        <p>フォロー解除ボタンを押すと、チャンネルのフォローが解除され、マイページに表示されなくなります</p>
        <a id="unfollow-channel-confirm-link">
          <button id="unfollow-channel-confirmation-btn">フォロー削除</button>
        </a>
      </div>
    </div>
</div>
