<div id="update-password-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5>パスワード編集</h5>
        <span class="modalClose" id="update-password-close-btn">×</span>
      </div>
      <form class="modal-body" action="/update_password" method="POST">
        <p>現在のパスワードを入力してください</p>
        <input
          type="password"
          placeholder="Old Password"
          class="channel-form-input"
          name="old_password"
        />
        <input
          type="password"
          placeholder="New Password"
          class="channel-form-input"
          name="password1"
        />
        <input
          type="password"
          placeholder="New Password Confirmation"
          class="channel-form-input"
          name="password2"
        />
          <button>変更</button>
      </form>
    </div>
</div>