<div id="update-name-email-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5>ユーザー名／パスワード編集</h5>
        <span class="modalClose" id="update-name-email-close-btn">×</span>
      </div>
      <form class="modal-body" action="/update_name_email" method="POST">
        <input
          type="text"
          placeholder="User Name"
          class="channel-form-input"
          name="name"
        />
        <input
          type="email"
          placeholder="Email"
          class="channel-form-input"
          name="email"
        />
        <p>現在のパスワードを入力してください</p>
        <input
          type="password"
          placeholder="Password"
          class="channel-form-input"
          name="password"
        />
          <button>変更</button>
      </form>
    </div>
</div>