<div id="update-password-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5>パスワード編集</h5>
      </div>
      <form class="modal-body" action="/update_password" method="POST">
        <p>本人確認のため、現在のパスワードを入力してください</p>
        <input
          type="password"
          placeholder="Old Password"
          class="channel-form-input"
          name="old_password"
        />
        <p>新しいパスワードを入力してください</p>
        <input
          type="password"
          placeholder="New Password"
          class="channel-form-input"
          name="password1"
        />
        <input
          type="password"
          placeholder="New Password Confirmation"
          class="channel-form-input"
          name="password2"
        /><br>
        <button type="button" id="update-password-close-btn">キャンセル</button>
        <button>変更</button>
      </form>
    </div>
</div>