/* チャットルームの吹き出し等のCSS */

/* 自分のメッセージ投稿時間と編集時間-横並び指定 */
.my-message-updatetime {
  display: flex;
  margin-right: 50px;
  text-align: right;
} 

/* 自分のメッセージ投稿時間 */
.message-updatetime-right{
  position: relative;
  left: 80%;
  font-size:16px;
  margin-bottom: 0;
  width: 100px;
  display: flexbox;
}
/* 自分のメッセージ編集時間 */
.message-updatetime-right-edit {
  position: relative;
  left: 85%;
  font-size:16px;
  margin-left: 20px;
  margin-bottom: 0;
  width: 100px;
}

/* 他人のメッセージ投稿時間全体 */
.message-updatetime-left{
  font-size:16px;
  width: 400px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
  border: #333333 solid;
}

/* 他人のメッセージ投稿時間全体 */
/* .message-updatetime-left-edit{
  font-size:16px;
  margin-top: 0;
  margin-bottom: 0;
} */

.update-message-btn{
  font-size:3px;
}

.delete-message-btn{
    font-size:3px;
    margin-left: 5px;
}

.user-name{
    padding: 0;
    margin: 10px 0px 0px 0px; 
}

/* 左吹き出しの指定 */
.box-left {
  position:relative;
  margin: 0;
  width: 500px;
  background: linear-gradient(99.05deg, #DEF7FF 1.44%, #EAD9FF 102.74%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding:20px;
  text-align:left;
  color:black;
  font-size: 16px;
  font-family: 'BIZ UDPGothic';
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  word-break: break-all;
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
}
/* 吹き出し三角部分の指定 */
.box-left:after {
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(90, 230, 40, 0);
  border-top-width:10px;
  border-bottom-width:10px;
  border-left-width:30px;
  border-right-width:30px;
  margin-top: -10px;
  border-right-color:#FBD6F3;
  right:100%;
  top:50%;
}

/* 右吹き出しの指定 */
.box-right{
  position:relative;
  width:500px;
  left: 100%;    /*右寄せの設定１*/
  transform: translateX(-100%);    /*右寄せの設定２*/
  margin: 0;
  background: linear-gradient(91.89deg, #FFEBEB -1.59%, #FFD8FB 106.35%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding:20px;
  text-align:left;
  color:black;
  font-size: 16px;
  font-family: 'BIZ UDPGothic';
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  word-break: break-all;
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
}

/* 吹き出し三角部分の指定 */
.box-right:after{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(90, 230, 40, 0);
  border-top-width:10px;
  border-bottom-width:10px;
  border-left-width:30px;
  border-right-width:30px;
  margin-top: -10px;
  border-left-color:#FFC8F6;
  left:100%;
  top:50%;
}



/* 自分のリアクション印-赤 */
.my-reaction-circle {
  width: 46px;
  height: 40px;
  margin: 2.5px;
  display: inline-block;
  background: #FFEEEE;
  border: 2px solid #FF0F00;
  border-radius: 20px;
}

/* 他人のリアクション印-グレー */
.reaction-circle {
  width: 46px;
  height: 40px;
  margin: 2.5px;
  display: inline-block;
  background: #EDEEEF;
  border: 2px solid #828282;
  border-radius: 20px;
}

.reaction-img{
  position: relative;
  width: 28px;
  height:28px;
  margin-left: 7px;
  margin-top: 4px;
}

.my-reaction-img{
  position: relative;
  width: 28px;
  height:28px;
  margin-left: 7px;
  margin-top: 4px;
  
}

/* リアクションボタンの指定 */
.reaction-btn {
  position: relative;
  width: 45px;
  height: 45px;
  left: 90%;
  margin: 10px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
}
.reaction-btn img {
position: absolute;
display: block;
}
.reaction-btn:hover img:nth-of-type(2){
opacity: 0;
}

/* メッセージ編集ボタンの指定 */
.update-message-btn {
  position: relative;
  width: 45px;
  height: 45px;
  left: 78%;
  margin: 10px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
}
.update-message-btn img {
position: absolute;
display: block;
}
.update-message-btn:hover img:nth-of-type(2){
opacity: 0;
}

/* メッセージ削除ボタンの指定 */
.delete-message-btn {
  position: relative;
  width: 45px;
  height: 45px;
  left: 75%;
  margin: 10px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
}
.delete-message-btn img {
position: absolute;
display: block;
}
.delete-message-btn:hover img:nth-of-type(2){
opacity: 0;
}


/* .typing-box-wrapper {
    margin-top: 20px;
} */

/* テキスト入力エリア */
.typing-box textarea {
    width:400px;
}
