.box {
    width: 200px;
    margin: 0;
    border-radius: 10px;
}

.message-updatetime-right{
    font-size:5px;
    margin-left: 200px;
    margin-bottom: 0;
}

.message-updatetime-left{
    font-size:5px;
    margin-top: 0;
    margin-bottom: 0;
}

#update-message-btn{
    font-size:3px;
}

#delete-message-btn{
    font-size:3px;
    margin-left: 5px;
}

.user-name{
    padding: 0;
    margin: 10px 0px 0px 0px; 
}

.box-left {
    border: 1px solid;
    background-color: papayawhip;
}

.box-right {
    border: 1px solid;
    background-color: greenyellow;
    margin-left: 200px;
}

.typing-box-wrapper {
    margin-top: 20px;
}

.typing-box textarea {
    width: 400px;
}