{% extends 'error/base.html' %}
{% block title %}
  <title>error</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/error.css')}}" />
  {% endblock %}
{% block body %}
  <body class="error">
    <div class="error-wrapper">
      <div class="error-content">
        <div class="error-title">
          <img src="{{url_for('static', filename='img/ERROR.png')}}">
        </div>
          <div class="error-description-error">
          <p>{{ error_message }}</p>
          <button class="basic-btn error-btn">
            <a href="{{ url_for('index') }}"> 戻る </a>
          </button>
          </div>
      </div>
    </div>
  </body>
{% endblock %}