{% extends 'base.html' %}
{% block title %}
  <title>my_page</title>
  <style>
    .modal-header{display: flex;justify-content: space-between;}
  </style>
{% endblock %}
{% block body %}

  <h1>マイページ</h1>

  <a href="{{ url_for('index') }}">チャンネル一覧へ</a>
  <a href="{{ url_for('logout') }}">logout</a><br>
  <button id="update-name-email-btn">ユーザー名／メールアドレス編集</button>
  <button id="update-password-btn">パスワード編集</button>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <p>name: {{name.user_name}}</p>
    <p>email: {{email.email}}</p>
    <p>follow channel(s): </p>
    {% for follow_channel in follow_channels %}
      <li>{{follow_channel.name}}</li>
      <p>{{follow_channel.abstract}}</p>
      <button class="unfollow-channel-btn">フォローをやめる</button>
      {% include 'modal/unfollow-channel.html' %}
    {% endfor %}
    {% include 'modal/update-name-email.html' %}
    {% include 'modal/update-password.html' %}
{% endblock %}
{% block script %}
  <script
  src="{{url_for('static',filename='js/update-mypage.js')}}"
  type="text/javascript"
  ></script>
{% endblock %}